/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-left: env(safe-area-inset-left);
  --safe-right: env(safe-area-inset-right);
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

input[type="text"], input[type="password"], input[type="email"], input[type="name"]{
    @apply w-96 border border-slate-500 rounded-md p-2;
  }

body {
  overflow-x: hidden;
}

@media (max-width: 640px) {
  .no-horizontal-scroll {
    overflow-x: hidden;
  }
}
